@font-face {
    font-family: 'Bangers';
    src: url('../fonts/Bangers-Regular.ttf');
    font-weight: bolder;
}

@font-face {
    font-family: 'Poppins';  
    src: url('../fonts/Poppins-Regular.ttf');    
}

*,*::after,*::before {
    margin: 0;
    padding: 0;
}

html {
    font-family: Poppins;
    font-size: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-family: Bangers;
}

section {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80vw;
    margin: auto;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3rem;
}

#hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#courses {
    
}

nav {
    display: flex;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: antiquewhite;
    width: 100%;
    list-style: none;
    gap: 1rem;
}

.course-items {
    display: flex;
}